.tamañoCajita {
    background:pink;
    width:50%;
    height:150px;
    align:center;
    font-size: 15px;
    color: rgb(4, 4, 58)

}
body{
    background-color: rgba(152, 226, 226, 0.404);
}
.botones{
    
    background-color: rgba(81, 48, 112, 0.5);
    width: 90px;
    height: 30px;
    align-self: auto;
    
   }
   .parrafo{
    background-color: rgb(233, 204, 209);
    align:center;
    font-style: oblique;
    font-size: 40px;
    width:60%;
    height:150px;

   }
   h1{
    color: rgb(4, 4, 49);
    size: 50px;
    
   }