
@import url('https://fonts.googleapis.com/css?family=Domine');
.size{
    max-width: 1000px;
}

#portada{
 background-image: url("./imagenes/avion.png");

 
}
#root{
    background-image: url("./imagenes/18575e88aa0f713.png")
}

.tamañoCajita {
    background:pink;
    width:40%;
    height:8rem;
    font-size: 15px;
    color: rgb(4, 4, 58);
    font-family:'Domine', serif;
  }

body{
    text-align:center;
    background-color: rgba(152, 226, 226, 0.404);
    
}
.botones {
    
    background-color:rgb(58, 154, 179);
    color: white;
    text-transform: uppercase;
    font-family: 'Domine', serif;
    width: 9%;
    height: 3%;
    align-self: auto;
    border-radius: 1%;
    
   }

   .comenzar{
    
    background-color:rgb(42, 98, 145);
    color: white;
    text-transform: uppercase;
    font-family: 'Domine', serif;
    width: 9%;
    height: 3%;
    align-self: auto;
    border-radius: 10px;
   }
   
   p{
    font-family: 'Domine', serif;
    font-size: 20px;
    color:black;
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 1%;
    

   }
   .bajada{
     color: rgb(43, 44, 116);  
     font-size: 23px;
     font-family: 'Domine', serif;
     padding-top:6%;
     font-style: italic;
  
   }
   h1{
    color: rgb(9, 8, 58);
    text-align:center;
    text-transform: uppercase;
    font-family: 'Domine', serif;
    size: 50px;
    
   }

   h2{
    color: rgb(55, 12, 90);
    text-align:center;   
    text-transform: uppercase;
    font-family: 'Domine', serif;
    size: 40px;
    padding-top: 4%;
    font-style: bold;
    
   }
.caja{
    background-color:white;
    width: 2rem;
    height: 1rem;
    margin-left: 35%;
             
}
.espacios{
    font-size: 0.9rem;
    color: rgb(10, 11, 46);
    align-self: left;

}
    
 
.preguntaOffset{
    align-self: center;
    margin:39%;
    background-color: rgb(199, 233, 247);
    padding: 0.8rem;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
    border:rgb(163, 23, 182) 1px solid;
    box-sizing: border-box;


}
.logo{
    width: 35%; 
    height: 5%;
    height: auto;
}
@media screen and (max-width:1200px;){
    .size{
        width:100%;
    }


}
@media screen and (max-width:992px;){
    .size{
        width:100%;
    }
    .tamañoCajita{
        width:100%;
    }
    .botones{
        width:100%;
    }
    .comenzar{
        width:100%;
    }
    p{
        width:100%;
    }
    .bajada{
        width:100%;
    }
    h1{
        width:100%;
    }
    h2{
        width:100%;
    }
    .caja{
        width:100%;
    }
    .espacios{
        width:100%;
    }
       
    .preguntaOffset{
    width:100%;
}
     .logo{
    width:100%;
}
    

    
}
@media screen and (max-width:768px){
    size{
        width:100%;
    }
    .tamañoCajita{
        width:100%;
    }
    .botones{
        width:100%;
    }
    .comenzar{
        width:100%;
    }
    p{
        width:100%;
    }
    .bajada{
        width:100%;
    }
    h1{
        width:100%;
    }
    h2{
        width:100%;
    }
    .caja{
        width:100%;
    }
    .espacios{
        width:100%;
    }
       
    .preguntaOffset{
    width:100%;
}
     .logo{
    width:100%;
}
}
@media screen and (max-width:320px){
    size{
        width:100%;
    }
    .tamañoCajita{
        width:100%;
    }
    .botones{
        width:100%;
    }
    .comenzar{
        width:100%;
    }
    p{
        width:100%;
    }
    .bajada{
        width:100%;
    }
    h1{
        width:100%;
    }
    h2{
        width:100%;
    }
    .caja{
        width:100%;
    }
    .espacios{
        width:100%;
    }
       
    .preguntaOffset{
    width:100%;
}
     .logo{
    width:100%;
}
}